<body>
    <div class="container-fluid defaultMargin">
        <div class="container loginPage">
            <div>
                <img src="\loginImgs\Learning-bro (1) 1.png" alt="" class="img-fluid pessoaEstuda">
            </div>
            <div class="formsLogin">
                <img src="\loginImgs\Logo.png" alt="mochila">

                <div class="loginTitulo">
                    <p>Guia do Mochileiro <br>
                        Fatecano</p>
                </div>
                <div class="forms">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Digite seu e-mail" required>

                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                            <span class="input-group-text bg-white "><i class="bi bi-lock"></i></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" routerLink="./home">
                        <a routerLink="./home">Entrar</a>
                    </button>

                    <div class="cadastrar">
                        <p>Ainda não possui conta? <a routerLink="./register">Cadastrar-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>