<body>
    <header>
        <nav class="navbar navbar-light bg-exepend navbar-expand-lg">
            <div class="container navCont">
                <a class="navbar-brand" href="#">
                    <img src="\loginImgs\Logo (3) 1.png" alt="" class="img-fluid"> 
                    <p>Guia do Mochileiro <br>
                        Fatecano</p>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header offcanvas-dark-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Mais informações</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body offcanvas-dark-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">

                            <li>
                                <i class="bi bi-house"></i>
                                Home
                            </li>
                            <li>
                                <i class="bi bi-bell"></i>
                                Notificações
                            </li>
                            <li>
                                <i class="bi bi-journals"></i>
                                Matérias
                            </li>
                            <li>
                                <i class="bi bi-star"></i>
                                valores
                            </li>
                            <li>
                                <i class="bi bi-box-arrow-right"></i>
                                Sair
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid pg1 ">
        <div class="infosTermo">
            <div class="title">
                <p>Termos</p>
                <span>Qual termo gostaria de acessar hoje?</span>
            </div>
            <div class="botao">
                <button class="btn btn-primary">
                    <i class="bi bi-plus"></i>
                    Adiconar turma
                </button>
            </div>
        </div>
        <div class="container termosB">
            <div class="card" style="background-color: #E2F4C5;">
                <P>1° Termo</P>
            </div>
            <div class="card">
                <P>2° Termo</P>
            </div>
            <div class="card">
                <P>3° Termo</P>
            </div>
            <div class="card">
                <P>4° Termo</P>
            </div>
            <div class="card">
                <P>5° Termo</P>
            </div>
            <div class="card">
                <P>6° Termo</P>
            </div>

        </div>

    </section>
</body>